In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/CSC302/DATA/olympic_medals.csv', index_col=0)

2.
a.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2394 entries, M to W
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Event        2394 non-null   object
 1   Location     2394 non-null   object
 2   Year         2394 non-null   int64
 3   Medal        2394 non-null   object
 4   Name         2164 non-null   object
 5   Nationality  2394 non-null   object
 6   Result       2394 non-null   object
dtypes: int64(1), object(6)
memory usage: 149.6+ KB

b.

In [ ]:
df.dtypes

Event          object
Location       object
Year            int64
Medal          object
Name           object
Nationality    object
Result         object
dtype: object

c.

In [ ]:
len(df["Location"].unique())

23

d.

In [ ]:
df.loc[df["Nationality"] == "USA", "Medal"].count()

638

e.

In [ ]:
df.groupby(by=["Nationality", "Medal"])["Medal"].count()

Nationality  Medal
ALG          B          2
             G          4
             S          3
ARG          G          2
             S          2
                     ...
USA          S        206
VEN          B          1
             S          1
YUG          S          1
ZAM          S          1
Name: Medal, Length: 218, dtype: int64

3.

In [ ]:
import pandas as pd
cod = pd.read_csv('/content/drive/MyDrive/CSC302/DATA/causes_of_death.csv', index_col=0)

a.

In [ ]:
cod.shape

(4115, 10)

b.

In [ ]:
cod['Deaths'].mean()

10914.44957472661

c.

In [ ]:
cod.groupby(by=["State"])["Deaths"].sum()

State
Alabama                  860780
Alaska                    63334
Arizona                  838094
Arkansas                 522914
California              4307061
Colorado                 561283
Connecticut              531290
Delaware                 135933
District of Columbia      94073
Florida                 3131111
Georgia                 1259017
Hawaii                   172244
Idaho                    200077
Illinois                1872171
Indiana                 1031634
Iowa                     507247
Kansas                   448828
Kentucky                 752585
Louisiana                755914
Maine                    231756
Maryland                 800510
Massachusetts            987031
Michigan                1599942
Minnesota                702284
Mississippi              526127
Missouri                1008288
Montana                  158429
Nebraska                 277962
Nevada                   345245
New Hampshire            187917
New Jersey              1291554
New Mexico               281598
New York                2741575
North Carolina          1399009
North Dakota             107281
Ohio                    1987276
Oklahoma                 656535
Oregon                   575952
Pennsylvania            2313855
Rhode Island             176266
South Carolina           732571
South Dakota             128599
Tennessee               1066727
Texas                   2969214
Utah                     260479
Vermont                   95300
Virginia                1071163
Washington               865686
West Virginia            386224
Wisconsin                857629
Wyoming                   77386
Name: Deaths, dtype: int64

d.

In [ ]:
cod.groupby(by=["State"])["Deaths"].mean()

State
Alabama                 10626.913580
Alaska                    772.365854
Arizona                  9109.717391
Arkansas                 6455.728395
California              45819.797872
Colorado                 6378.215909
Connecticut              6559.135802
Delaware                 1970.043478
District of Columbia     1447.276923
Florida                 34790.122222
Georgia                 14639.732558
Hawaii                   2266.368421
Idaho                    2778.847222
Illinois                21519.206897
Indiana                 12895.425000
Iowa                     6185.939024
Kansas                   5407.566265
Kentucky                 9902.434211
Louisiana                9107.397590
Maine                    3310.800000
Maryland                 9201.264368
Massachusetts           12185.567901
Michigan                17976.876404
Minnesota                7980.500000
Mississippi              6117.755814
Missouri                11862.211765
Montana                  2200.402778
Nebraska                 3474.525000
Nevada                   4014.476744
New Hampshire            3030.919355
New Jersey              15375.642857
New Mexico               3236.758621
New York                29799.728261
North Carolina          15373.725275
North Dakota             1650.476923
Ohio                    24534.271605
Oklahoma                 7376.797753
Oregon                   6544.909091
Pennsylvania            27221.823529
Rhode Island             2448.138889
South Carolina           9044.086420
South Dakota             1863.753623
Tennessee               13169.469136
Texas                   32991.266667
Utah                     3028.825581
Vermont                  1944.897959
Virginia                12601.917647
Washington               9726.808989
West Virginia            6229.419355
Wisconsin                9745.784091
Wyoming                  1155.014925
Name: Deaths, dtype: float64

e.

In [ ]:
cod.groupby(by=["State", "Gender"])["Deaths"].sum()

State          Gender
Alabama        Female    430133
               Male      430647
Alaska         Female     27199
               Male       36135
Arizona        Female    396028
                          ...
West Virginia  Male      192560
Wisconsin      Female    436397
               Male      421232
Wyoming        Female     37153
               Male       40233
Name: Deaths, Length: 102, dtype: int64

f.

In [ ]:
cod.dropna(inplace=True)
cod.head()

         State Code Ten-Year Age Groups  ... Population Crude Rate
State                                    ...
Alabama           1            < 1 year  ...     7443.0      322.5
Alabama           1            < 1 year  ...   169339.0     1236.0
Alabama           1            < 1 year  ...   347921.0      616.2
Alabama           1            < 1 year  ...     7366.0      448.0
Alabama           1            < 1 year  ...   173241.0     1577.0

[5 rows x 10 columns]

g.

In [ ]:
cod['ratio'] = cod['Deaths']/cod['Population']
cod.head()

         State Code Ten-Year Age Groups  ... Crude Rate     ratio
State                                    ...
Alabama           1            < 1 year  ...      322.5  0.003225
Alabama           1            < 1 year  ...     1236.0  0.012360
Alabama           1            < 1 year  ...      616.2  0.006162
Alabama           1            < 1 year  ...      448.0  0.004480
Alabama           1            < 1 year  ...     1577.0  0.015770

[5 rows x 11 columns]

h.

In [ ]:
cod[cod["Ten-Year Age Groups Code"] == "1"]

           State Code Ten-Year Age Groups  ... Crude Rate     ratio
State                                      ...
Alabama             1            < 1 year  ...      322.5  0.003225
Alabama             1            < 1 year  ...     1236.0  0.012360
Alabama             1            < 1 year  ...      616.2  0.006162
Alabama             1            < 1 year  ...      448.0  0.004480
Alabama             1            < 1 year  ...     1577.0  0.015770
...               ...                 ...  ...        ...       ...
Wisconsin          55            < 1 year  ...     1588.6  0.015886
Wisconsin          55            < 1 year  ...      572.3  0.005723
Wyoming            56            < 1 year  ...      565.8  0.005658
Wyoming            56            < 1 year  ...     1218.1  0.012181
Wyoming            56            < 1 year  ...      681.7  0.006817

[324 rows x 11 columns]

i.

In [ ]:
cod[cod["Ten-Year Age Groups Code"] == "1"].sort_values(by=['Crude Rate'], ascending=False)

                      State Code Ten-Year Age Groups  ... Crude Rate     ratio
State                                                 ...
District of Columbia          11            < 1 year  ...     1762.6  0.017626
Ohio                          39            < 1 year  ...     1635.3  0.016353
Michigan                      26            < 1 year  ...     1625.8  0.016258
South Dakota                  46            < 1 year  ...     1617.7  0.016177
Illinois                      17            < 1 year  ...     1614.2  0.016142
...                          ...                 ...  ...        ...       ...
California                     6            < 1 year  ...      168.0  0.001680
Florida                       12            < 1 year  ...      165.7  0.001657
New York                      36            < 1 year  ...      143.1  0.001431
Texas                         48            < 1 year  ...       93.2  0.000932
Texas                         48            < 1 year  ...       80.8  0.000808

[324 rows x 11 columns]